@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,700;8..144,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto Serif', serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.image-1 {
  background-image: url('./Images/head.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.image-2 {
  background-image: url('./Images/head-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}